ion-content.has-header {
    top: 0;
  }
  
  .bar {
    background-color: transparent; 
    background-size: 100% 0px;
  }
  
  .bar-header {
    border-bottom-width: 0px;
  }

.page-top{
    margin-top: 40px;
}



ion-header-bar .back-button i {
  color:#0594d9
}

.mySpendDb-popup .scroll-bar-indicator
{
	display: none;
}
.setGoal-page .scroll-bar-indicator
{
	display: none;
}

.loading-container.visible.active{
  background: white;
  opacity: 0.7;
}
