/** All the scss variables of the system will be here */

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

// Calandar variables 
$dayBase: 50px;
$base: 10px;
$cloud : gray;
$white : white;
$seafoam: #11c1f3;
$teal: #387ef5;
$light-blue-grey: lightblue;
$concrete: '';

// Theme Color Variables
$blue: #0594d9;
$red: #fc4949;
$orange: #fc9504;
$green: #38b971;



$light-gray: rgb(141, 139, 139);
$white-gray: rgb(240, 236, 236);

/* base spaces of the system */
$spacer1: 5px !default;
$spacer2: 10px !default;
$spacer3: 15px !default;
$spacer4: 20px !default;
$spacer5: 25px !default;
$spacer6: 30px !default;



